<nav class="navbar navbar-expand-md navbar-dark gradient-blue">
  <div class="container">
    <a class="navbar-brand" href="/"><span class="material-icons">
      campaign
      </span><span class="ml-2">Quadro de Avisos</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link active" href="/"><span class="material-icons">
          home
          </span> Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/notice"><span class="material-icons">
          announcement
          </span> Meus avisos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/notice/new"><span class="material-icons">
          add_alert
          </span> Novo Aviso</a>
      </li>  
    </ul>
  </div>  
  </div>
</nav>
